<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../main.css">
  <title>Película</title>
</head>

<body>
  <article class="article__card">
    <img class="card__img" src=<%=image %> alt="Carátula de
    <%=name%>" />
      <h3 class="card__title">
        <%=name%>
      </h3>
      <p class="card__genre">Género: <%=genre%>
      </p>
      <p class="card__synopsis">Sinopsis: <%=synopsis%>
      </p>
  </article>
</body>

</html>